<% include partials/header %>
<% include partials/nav %>

<body>
    <div class="container">
        <% if (typeof message != 'undefined' && message) { %>
        <h2><%= message %></h2>
        <% } %>
        <form method="post" action="/users/add">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>