:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
  margin: 0;
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}

h1 span {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--gris2);
}

.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-prim {
  background-color: var(--gris2);
  color: var(--blanco);
}

.btn-prim:hover {
  background: var(--gris3);
}

.btn-sec {
  background-color: var(--gris1);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-submit:hover {
  background-color: var(--gris2);
}

.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

.form-user {
  background-color: var(--gris2);
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.shadow {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
}

.shadow-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}

.field-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.field-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}

.field-form input {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.chara-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}

.chara {
  width: 23%;
  display: flex;
  justify-content: flex-start;
  background-color: var(--blanco);
  padding: 0.5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 1500px) {
  .chara {
    flex-direction: column;
  }
}

.chara-image {
  height: 150px;
  margin-right: 15px;
}

.chara-container {
  align-self: flex-start;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 4rem;
}

.username {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}

.username span {
  font-weight: 900;
}

.nav a {
  color: var(--blanco);
  text-decoration: none;
}

.nav a:first-of-type {
  margin-right: 2rem;
}