<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Search User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/add">Add User</a>
            </li>
        </ul>
    </div>
</nav>